@import 'node_modules/@natec/mef-dev-ui-kit/src/lib/styles/global.scss';

html,
body {
  margin: 0;
  min-height: 100%;
  font-family: 'Sora', 'Segoe UI', sans-serif;
  color: #1b1f3b;
  background: #f2f5f9;
}

* {
  box-sizing: border-box;
}

ai-llm-ui {
  display: block;
  min-height: 100vh;

  @import 'node_modules/@natec/mef-dev-ui-kit/src/lib/styles/core.scss';
}
